
.overlay {
    inset: 0;
    position: absolute;
    z-index: 1;
}

.wrapper {
    width: 100%;
    position: relative;
    z-index: 2;
}

.label {
    margin-bottom: 8px;
}

.field {
    width: 100%;
    height: 50px;
    border: 1px solid var(--lightGray);
    outline: 2px solid transparent;
    border-radius: 8px;
    transition: all 0.2s;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    cursor: pointer;
}

.focused {
    border: 1px solid var(--primaryBlue);
    outline: 2px solid var(--secondaryBlue);
}

.options {
    position: absolute;
    background-color: #fff;
    width: 100%;
    display: flex;
    flex-direction: column;
    z-index: 2;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    transform: translateY(2px);
    border-radius: 8px;
    overflow: hidden;
}

.option {
    cursor: pointer;
    padding: 16px;
}

.option:hover {
    background-color: #fafafa;
}

.arrowUp {
    transition: transform 0.4s;
    transform: rotate(180deg);
}

.arrowDown {
    transition: transform 0.2s;
}