.wrapper {
    position: relative;
    width: 100%;
    height: 192px;
    border: 1px dashed var(--lightGray);
    border-radius: 8px;
    overflow: hidden;
    transition: all 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 16px;
    cursor: pointer;
}

.wrapper:hover {
    border: 1px dashed var(--primaryBlue);
}

.input {
    position: absolute;
    inset: 0;
    display: none;
}

.desc {
    font-size: 14px;
}

.note {
    color: red;
    font-size: 12px;
}
