@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
  --lightGray: #E0E2E7;
  --gray: #cecece;
  --disabledGray: #EBEBE4;
  --primaryBlue: #3673F5;
  --secondaryBlue: #D3E1FF;

}

html,
body {
  padding: 0;
  margin: 0; 
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: Montserrat;
  user-select: none;
}

